@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111315;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
}
